.yugi{
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.patricia {
    color: rgb(26, 26, 67);
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    overflow:hidden;
    font-size: 20px;
    width: 300px;
    height: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.patricia:hover{
    transform: scale(1.01) translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: rgb(216, 214, 212);
    border-radius: 20px;
}
.patricia1{
    font-style: italic;
}
.patricia2{
    font-style: italic;
    font-size: 12px;
}
.uhmar{
    color: rgb(26, 26, 67);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    margin-left: 370px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-style: normal;
    background-color: rgb(173, 190, 200);
}
.uhmar:hover{
    border-radius: 20px;
    transform: scale(1.009) translateY(1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
#skills{
    color: white;
}
button{
    color: rgb(26, 26, 67);
    background-color: rgb(212, 124, 53);
    border-radius: 20px;
    
}
.header{
    display: flex;
    background-color: rgb(216, 216, 211);
    position: fixed;
    height: 10vh;
    overflow-y: auto;
    top: 0;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
}
.contact{
    margin-left: 10%;
    font-style: italic;
    font-size: 20px;
    color: rgb(26, 26, 67);
}
.about{
    margin-left: 70%;
    font-style: italic;
    font-size: 20px;
    color: rgb(26, 26, 67);
}
body{
    background-color: rgb(216, 214, 211);
}
.resume{
    font-size: 35px;
    font-weight: bold;
    color: rgb(55, 55, 72);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding: none;
}
.projectImages{
    max-width: 90%;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
}
.list{
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;   
    color: rgb(98, 98, 98);
    margin-left: 25px;
    text-decoration: none;
}
.list:hover{
    color: rgb(155, 111, 49);
    font-style: italic;
    transform: 1px;
    text-transform: lowercase;
}
.socmed{
    width: 30px;
}
.containImg{
    background-color: rgb(255, 255, 255);
    display: inline-block; /* Makes the container fit tightly around the image */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 20px;
    padding: 10px; 
}